*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  font-size: calc(1em + 0.16vw);
  line-height: 1.5;
  scroll-behavior: smooth;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.container {
  font-size: 1.2em;
  border: 0.1em solid grey;
  padding: 0.1em;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3em 10em 4em 3em;
  grid-gap: 0.1em;

  /*
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 200px 40px;
  */
}

.header {
  background-color: aqua;
}
.main {
  background-color: yellow;
}
.widget-area {
  background-color: lightgreen;
}
.footer {
  background-color: orange;
}
/*media queries*/
@media (min-width: 768px) {
  .container {
    font-size: 1.2em;
    color: red;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12em 5em 3em;
  }
  .header {
    background-color: lightblue;
    grid-row: 1/4;
  }
  .main {
    background-color: yellowgreen;
    grid-column: 2/-1;
  }
  .widget-area {
    background-color: pink;
    grid-column: 2/-1;
  }
  .footer {
    background-color: lightseagreen;
    grid-column: 2/-1;
  }
}
